body {
    background-color: rgb(177, 219, 255);
    text-align: center;
    padding: 1em;
}

#btn-container {
    display: inline-block;
    min-width: 284px;
    min-height: 75px;
    user-select: none;
}

#btn-container #btn {
    cursor: pointer;
    line-height: 1;
    background-color: rgba(59, 114, 163, 0.4);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 90);
    transition: 0.1s;
    border-color:rgb(222, 222, 255) rgb(0, 0, 90) rgb(0, 0, 90) rgb(222, 222, 255); /* top right bottom left */
    border-radius: 10px;
}
#btn-container:hover #btn {
    /*background-color: rgba(59, 114, 163, 0.8);*/
    padding: 4px;
    border-color: white;
    color: white;
}
#btn-container:active #btn {
    padding: 2px;
}

#meme-image{
    position: static;
    max-height: 45vw;
    border: solid;
    border-color: rgb(217, 237, 255);
    border-width: 5px;
    border-radius: 10px;
    margin: 25px;
}

#loading-icon{
    left: 0;
    margin: 25px;
}

#warning {
    user-select: none;
    line-height: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    padding: 1em;
    /* background: repeating-linear-gradient(45deg, blue 0 20px, red 20px 40px); */
    background: repeating-linear-gradient(45deg, rgba(255, 214, 138, 0.5) 0 10px, rgba(255, 181, 112, 0.5) 10px 20px); 
    border: solid orangered 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#warning h2 {
    color: orangered;
    margin: 0.5em;
}
#warning p {
    color: orangered;
    margin: 0.1em
}