<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modern Meme</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id='btn-container'>
    <button type="submit" form="btnform" id="btn" onclick="replace_current_meme()">NEW MEME</button>
</div> 

<div id='final-meme'>

    <div id='meme-container'>
        {{image|safe}}
    </div>    
</div>

<script> 
    const cache = new Array;
    const cache_min_length = 10;
    const cache_check_interval = 500; //milliseconds

    function get_new_meme(){
        return new Promise(function (resolve, reject){
            req = new XMLHttpRequest();
            req.open('GET', '/new_meme');
            req.onload = function(){
                try {
                    const data = JSON.parse(this.responseText)
                    resolve(data.meme)
                }
                catch(e) {
                    reject(e)
                }
            }
            req.send();
        })
    }

    async function add_meme_to_cache(){
        if (cache.length < cache_min_length){ // so only generate when cache is short enough and when not already generating a meme for the current meme
            try {
                const result = await get_new_meme();
                cache.push(result);
            }
            catch(e) { // should only crop up if get_new_meme rejects
                console.log("An error occurred.")
            }
        }
    }

    // so you can't request more memes while we're already generating memes
    var clicked_already = false
    async function replace_current_meme(){
        if (clicked_already){}
        else {
            clicked_already = true
            document.getElementById('meme-container').innerHTML = "<img src='https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif' id='loading-icon'>"
            
            // wait until there is at least 1 element in cache
            while (cache.length < 1){
                await new Promise(resolve => setTimeout(resolve, cache_check_interval));
            }

            const new_meme = cache.shift();
            document.getElementById('meme-container').innerHTML = new_meme;
            
            clicked_already = false;
        }
    }
    
    // check every second if cache is not full enough, if so, generate some more memes.
    // sometimes generates extras, but its okay
    setInterval(add_meme_to_cache, cache_check_interval)
</script>

<div id='github-icon-container'>
    <a id='github-icon' href='https://github.com/SeanJxie/modern-meme-website/issues' title='Report issues here!'>
        <i class="fa fa-github" style="font-size:48px;color:white"></i>
    </a>
</div>

<div id='warning'>
    <h2>⚠ WARNING! ⚠</h2>
    <p>Some images may be NSFW.</p>
    <p>Use at your own risk.</p>
</div>

</body>
</html>