
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modern Meme</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div id='btn-container'>
    <button type="submit" form="btnform" id="btn" onclick="replace_current_meme()">NEW MEME</button>
</div> 

<div id='final-meme'>

    <div id='meme-container'>
        {{image|safe}}
    </div>    
</div>

<script> 

    const cache = new Array;
    const cache_min_length = 10;
    const cache_check_interval = 1000; //milliseconds

    function get_new_meme(){
        return new Promise(function (resolve, reject){
            req = new XMLHttpRequest();
            req.open('GET', '/new_meme');
            req.onload = function(){
                resolve(JSON.parse(this.responseText).meme)
            }
            req.send();
        })
    }

    async function add_meme_to_cache(){
        if (cache.length < cache_min_length){
            const result = await get_new_meme();
            cache.push(result)
        }
    }

    // so you can't request more memes while we're already generating memes
    var clicked_already = false

    async function replace_current_meme(){
        if (clicked_already){}
        else {
            clicked_already = true
            document.getElementById('meme-container').innerHTML = "<img src='https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif'>"
            if (cache.length < 1){
                const new_meme = await get_new_meme()
                document.getElementById('meme-container').innerHTML = new_meme; 
            }
            else {
                document.getElementById('meme-container').innerHTML = cache.shift();
            }
            clicked_already = false;
        }
    }
    
    // check every second if cache is not full enough, if so, generate some more memes.
    // sometimes generates extras, but its okay
    setInterval(add_meme_to_cache, cache_check_interval)

</script>

<div id='warning'>
    <h2>⚠ WARNING! ⚠</h2>
    <p>Some images may be NSFW.</p>
    <p>Use at your own risk.</p>
</div>

</body>